version: "3.9"
services:
  backend:
    build: ./backend
    container_name: casino-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./db:/app/db
    environment:
      DUCKDB_PATH: "db/casino.duckdb"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"